body {
	/*background-color: white;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #24EFF2;
}

/*#map-canvas {
	width: 100%;
	height: 800px;
	background-color: #ccc;
}*/

#map-canvas {
  width: 100%;
  height: 700px;
  z-index: 1;

}

.header {
  width: 100%;
  display: inline-block;
  color: #24EFF2;
}

.search-pos {
  z-index: 20;
}

.type-box {
  width: 500px;
  border: solid black 1px;
  color: #24EFF2;
  text-align: center;
}

#search-box {
 z-index: 20;
  position: relative;
  left: 600px;
  bottom: 140px; 
}

.nav-button-pos {
  float: right;
}

#submit-button {
  background-color: #24EFF2;
  border: solid black 1px;
  width: 100px;
  color: white;
}

.nav-button-pos ul {
  list-style-type: none;
  padding-left: 0px;
  line-height: 110px;
}

.nav-button-pos ul li {
  display: inline-block;
  margin-right: 60px;
}

.logo-pos {
  display: inline-block;
  margin-left: 50px;
}

.logo-pos li {
  float: left;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 3em;

}

/*this is for the nav toggleing NEW FORM */

* {
  margin:0;
  padding:0;
}


.message-form {
background:#24EFF2;
color:#FFF;
position: absolute;
top: -200px;
left: 0;
width: 100%;
height: 200px;
padding: 20px;
padding-left: 110px;
padding-top: 40px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;
box-sizing: border-box;
}

.message-form h1 {
  color:white;
  font-size: 25px;
}

#toggle2 {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle2 + label {
  position:absolute;
  right: 61px;
  cursor:pointer;
  padding:10px;
 /* background: #26ae90;*/
/*width: 100px;
*/
/*border-radius: 3px;*/
padding: 8px 10px;
/*color: #FFF;*/
line-height:20px;
font-size:23px;
text-align:center;
-webkit-font-smoothing: antialiased;
cursor: pointer;
  margin:55px 50px;
  transition:all 500ms ease;
}
#toggle2 + label:after {
  content:"Share A Glide Experience" 
}

.container-nav {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding:0.5em 3em;
}

#toggle2:checked ~ .message-form {
  top: 0;
}

#toggle2:checked ~ .container-nav {
  margin-top: 200px;
}

#toggle2:checked + label {
  background: #24EFF2;
  color: white;
  width: 300px;
  height: 100%;
  margin-top: 0px;
  padding-top: 55px;
}

#toggle2:checked + label:after {
  content:"Share A Glide Experience"
}

#pin_info_window a {
  display: block;
  font-size: 18px;
  color:#24EFF2;
}

#pin_info_window video {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color:#24EFF2;
}



.spinner {
    position: fixed;
    top: 40%;
    left: 48%;
    margin-left: -50px; /* half width of the spinner gif */
    /*margin-top: -50px;*/  half height of the spinner gif 
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height: 202px; /*hight of the spinner gif +2px to fix IE8 issue */
}

img {
  width: 180px;
  position: absolute;
  top: 400;
}

#add_pin_form, input {
  color:#fa7b0c;
}

#submit-button-pin {
background-color: light-gray;
  border: solid white 1px;
  width: 100px;
  color: white;
}

.add-pin-loc-box{
margin-right: 10px;
}

.add-pin-comment-box{
margin-right: 10px;
width: 350px;
}
