body {
	background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/*#map-canvas {
	width: 100%;
	height: 800px;
	background-color: #ccc;
}*/

#map-canvas {
  width: 100%;
  height: 400px;
}

header {
  width: 100%;
  display: inline-block;
  color: #24EFF2;
}

.nav-button-pos {
  float: right;
}

.nav-button-pos ul {
  list-style-type: none;
  padding-left: 0px;
  line-height: 110px;
}

.nav-button-pos ul li {
  display: inline-block;
  margin-right: 60px;
}

.logo-pos {
  display: inline-block;
  margin-left: 50px;
}

.logo-pos li {
  float: left;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 3em;

}