<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/style.css">
  <link rel="stylesheet" type="text/css" href="style/normalize.css">
  <title>Glide</title>
</head>
<header>
  <div class="logo-pos">
    <h1>GLIDE</h1>
  </div>
  <div class="nav-button-pos">
    <ul>
      <li>Whats Gliding Right Now?</li>
      <li>Create A New Glide</li>
    </ul>
  </div>  
</header>
<body>
  <ul class="small-block-grid-8" id="video-container">
  </ul>
  <div id="map-canvas"></div> 
  <!--  Div to render the map -->
  <div id="search-box">
	 <form id="tag_search_form"> 
	 	<label>Tags</label>
	 	<input type="text" placeholder="Tag" id="search_tag">
		<input type="submit" value="Search">
	 </form>
  </div>
</body>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CPQMOQt-Zpq0LlwpahCjsdAZOawqf2U"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="js/maps.js"></script>
<!-- <script src="js/videos.js"></script> -->

</html>
