<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instasham</title>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>
  <h1>Glide</h1>
  <ul class="small-block-grid-8" id="photo-container">
  </ul>
  <div id="map-canvas">
  	<h3>map</h3>
  </div>
</body>
	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/instagram.js"></script>
</html>