<!DOCTYPE html>
<html lang="en">
<head>
  <title>Glide</title>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1CPQMOQt-Zpq0LlwpahCjsdAZOawqf2U"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
  <title>Glide</title>
  <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css"> -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css"> -->
</head>
<body>
  <h1>Glide</h1>
  <ul class="small-block-grid-8" id="video-container">
  </ul>
  <h3>map</h3>
  <div id="map-canvas">
  	
  </div>
  <div id="search-box">
	 <form id="search">
		<input type="text" id="search_tags" value="" placeholder="Tags"/>
		<button>Search</button>
	 </form>
  </div>
</body>
	

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/instagram.js"></script>
</html>